ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li > ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  li > ul > li {
    margin-bottom: 5px;
  }
  
  li > ul > li:last-child {
    margin-bottom: 0;
  }
  
  li > ul > li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li > ul > li > div > span {
    margin-right: 10px;
  }
  
  li > ul > li > div > input {
    width: 50px;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  