.wrapper {
  background-color: #1e2128;
  padding-bottom: 30px;
}

.lotto-sticker {
  position: relative;
  top: 50px;
  left: 50px;
  height: 200px;
  width: 200px;
}

.money-gif {
  position: relative;
  top: 100px;
  left: 100px;
  height: 150px;
  width: 150px;
}

.video-player {
  position: relative;
  top: 50px;
  left: 50px;
}

.toggle-audio {
  position: fixed;
  top: 10px;
  right: 10px;
}
.video-player {
  position: relative;
  top: 50px;
  right: 50px;
}
